<div class="upgradesContainer">
  <div class="upgradeContent">
    <div class="leftContent">
      <img src="assets/upgrade.png">
      <p>Upgrade 1</p>
    </div>
    <p class="desc">Increases score pr click by 1</p>
    <p class="amount">14</p>
  </div>
  <div class="upgradeContent">
    <div class="leftContent">
      <img src="assets/upgrade.png">
      <p>Upgrade 2</p>
    </div>
    <p class="desc">Increases score pr click by 10</p>
    <p class="amount">6</p>
  </div>
  <div class="upgradeContent">
    <div class="leftContent">
      <img src="assets/upgrade.png">
      <p>Upgrade 3</p>
    </div>
    <p class="desc">Increases score pr click by 30</p>
    <p class="amount">1</p>
  </div>
</div>
