.upgradesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  height: 100vh;
}

.upgradeContent {
  display: flex;
  padding: 2rem;
  border-bottom: 1px solid gray;
  width: 100%;
  justify-content: space-between;
  transition: background-color 0.2s ease;  // Smooth transition for the background color change
}

.upgradeContent.clicked {
  background-color: #e0e0e0;  // Light grey background to indicate selection
}

.upgradeContent.cannotAfford {
  background-color: #ffcccc;  // Light red background to indicate lack of funds
}

.leftContent {
  display: flex;
  align-items: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.cost {
  font-size: 0.8rem;  // Smaller font size for cost
  color: gray;
  display: flex;
  align-items: center;  // Aligns image with text
}

.costImage {
  height: 1rem;  // Small size for the cost image
  width: 1rem;
  margin-right: 0.1rem;  // Space between the image and the text
  margin-top: 0.1rem;
}

img {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.desc {
  font-size: 0.8rem;
  color: gray;
}

.amount {
  display: flex;
  align-items: center;
}
