<div class="upgradesContainer">
  <div class="upgradeContent" *ngFor="let upgrade of user.upgrades"
       (click)="purchaseUpgrade(upgrade.id)"
       [class.clicked]="activeUpgradeId === upgrade.id"
       [class.cannotAfford]="cannotAffordId === upgrade.id">
    <div class="leftContent">
      <img src="{{upgrade.img}}">
      <div class="costWrapper">
        <p>{{upgrade.name}}</p>
        <p class="cost"><img src="assets/paper.png" class="costImage"> {{upgrade.cost}}</p>
      </div>
    </div>
    <p class="desc">{{upgrade.desc}}</p>
    <p class="amount">{{upgrade.amount}}</p>
  </div>
</div>
