.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.upgrades {
  width: 33%;
  /* Add any additional styling for upgrades */
}

.click {
  width: 67%;
  /* Add any additional styling for click */
}
