.clickContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
}

img {
  width: 80%;
  height: 80%;
}
